xrandr --output HDMI-1-0 --mode 1920x1080 --rate 144 --right-of eDP-1

# for Optimus-manager
/usr/bin/prime-offload
# Trap the exit signal to run the script when X stops, For Optimus-manager
trap 'sudo /usr/bin/prime-switch' EXIT

systemctl --user import-environment DISPLAY

picom &

clipmenud &

$HOME/.fehbg &

fcitx5 &

xss-lock -- slock &

#slstatus &

#./src/dwm/scripts/dwm-status.sh &

dwmblocks &

sxhkd &

dunst &

exec dwm
