xrandr --output eDP-1-1 --mode 1920x1080
xrandr --output HDMI-0 --mode 1920x1080 --rate 144
xrandr --output eDP-1-1 --same-as HDMI-0 --mode 1920x1080 --left-of HDMI-0

systemctl --user import-environment DISPLAY

picom &

clipmenud &

$HOME/.fehbg &

fcitx5 &

xss-lock -- slock &

#slstatus &

#./src/dwm/scripts/dwm-status.sh &

dwmblocks &

sxhkd &

dunst &

exec dwm
